:root {
  --black: #080808;
  --white: #E3F0D3;
  --red: #ED2224;
  --blue: #31ADE3;
  --green: #71C389;
  --orange: #F1A51F;
}

.orbitron-regular {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.orbitron-bold {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.micro-5 {
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--black);
}

.space-background {
  background-image: url("../public/assets/backgrounds/space-background.webp");
  animation: animatedBackground 5s ease-in-out infinite;
  background-repeat: no-repeat;
  background-size: cover;
}


@keyframes animatedBackground {
  0% {
      background-position: 0% 0%;
  }

  50% {
    background-position: 5% 6%;
  }

  100% {
    background-position: 0% 0%;
  }
}


